@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bgcolor: #F0FaFF;
    --txtcolor: #0A4D68;
    --accentcolor: #01949A;
    --accentcolor2: #DB1F48;
    --accentcolor3: white;
}

* {
    font-family: 'Raleway', sans-serif;
    color: var(--txtcolor);
}

body {
    background-color: var(--bgcolor);
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}

#logo {
    color: var(--accentcolor);
}

#logo > span {
    color: var(--accentcolor2);
}

#headermain {
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 10px 10px;
}

/* Home Page Styling*/
#signinbtn {
    margin: 0px;
    position: absolute;
    top: 20px;
    right: 20px;
}
button > a {
    text-decoration: none;
    color: var(--bgcolor);
}

/* Login and Sign Up Page Styling*/
button {
    background-color: var(--accentcolor);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

form {
    padding-top: 50px;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
}

input[type=password], input[type=email] {
    display: flex;
    margin: 0 auto;
    border-bottom: var(--txtcolor) 1px solid;
    width: 450px;
}

input[type=text], input[type=date]{
    border-bottom: var(--txtcolor) 1px solid;
    width: 200px;
}

.rowflex-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: auto;
    padding-bottom: 5px;
    width: 450px;
    gap: 50px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 450px;
    padding-bottom: 5px;
}

/* Planner Page Styling*/
header details {
    position: relative;
}

header details ul {
    position: absolute;
    right: 0%;
    list-style: none;
    margin-left: 0; 
    padding-left: 0;
    width: max-content;
    background-color: white;
    border-radius: 5px;
    z-index: 2;
}
header details ul li{
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
}

header details ul li:hover {
    background-color: var(--accentcolor);
    color: var(--bgcolor);
}

header details summary {
    list-style: none;
}

a{
    text-decoration: none;
}

#planner {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#plannerheader {
    flex: 0 0 auto;
    border-bottom: 1px solid var(--txtcolor);
} 

#userbtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#usericon {
    border-radius: 50%;
    position: relative;
}

.accounticon{
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 100px;
}

#esc {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#mainb {
    flex: 1;
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#mainc {
    flex: 1;
    padding: 15px;
    transition: margin-right 0.3s ease;
    
}

#habitsbar {
    width: 300px;
    border-left: 1px solid var(--txtcolor);
    padding: 15px;
    box-sizing: border-box;
    transition: width 0.3s ease;
}

#habitsbar.collapsed {
    width: 0;
    padding: 0;
    border: none;
}

#mainc.collapsed {
    margin-right: 0;
}

#habitsbtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

#habitsbtn:hover {
    background-color: transparent;
}

/* Settings Page Styling*/
.settingsselect {
    width: 200px;
    height: 40px;
    background-color: transparent;
    border-radius: 15px;
    border-color: var(--accentcolor);
    cursor: pointer;
}

.settingsselect option {
    background-color: var(--bgcolor);
    color: var(--txtcolor);
}

